body {
  margin: 0 auto;
  background-color: #34495e; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bdc3c7; }
  ul li {
    margin-right: 10px;
    display: inline-block;
    padding: 14px 16px; }
    ul li a {
      color: #2c3e50;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.7s; }
    ul li a:hover {
      background-color: #7f8c8d;
      transition: 0.7s; }

.container {
  font-size: 0; }
  .container p {
    font-size: 14px; }
  .container main {
    width: 70%;
    display: inline-block;
    background-color: #34495e;
    vertical-align: top;
    font-size: 15px;
    color: #e74c3c; }
    .container main h1 {
      font-size: 18px; }
  .container aside {
    width: 30%;
    display: inline-block;
    background-color: #34495e;
    font-size: 15px;
    color: #2ecc71; }
  .container footer {
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1%;
    position: absolute;
    background-color: #bdc3c7; }

@media screen and (max-width: 480px) {
  body {
    font-size: 2em; }

  nav ul li {
    display: block; }

  .container main {
    width: 100%; }
  .container aside {
    width: 100%; } }

/*# sourceMappingURL=styling.css.map */
