$color: #34495e;
$fsize: 14px;
$nf:#bdc3c7;
$mfsize: 20px;

body{
  margin: 0 auto;
  background-color: #34495e;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $nf;


li {
    margin-right: 10px;
    display: inline-block;
    padding: 14px 16px;




a {
    color: #2c3e50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.7s;

  }

a:hover {
    background-color: #7f8c8d;
    transition: 0.7s;
    }
  }
}

.container{
  font-size: 0;
  p{
    font-size:$fsize;
  }

  main{
    width: 70%;
    display: inline-block;
    background-color: $color;
    vertical-align: top;
    font-size: 15px;
    color: #e74c3c;

    h1 {
      font-size: 18px;
    }

  }
  aside{
    width: 30%;
    display: inline-block;
    background-color: $color;
    font-size: 15px;
    color: #2ecc71;
  }
footer{
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1%;
    position: absolute;
    background-color: $nf;

}
}

@media screen and (max-width: 480px){
  body { font-size: 2em; }
  nav {
    ul{
      li{
        display: block;
        a{
      }
      }
    }
  }

  .container{
    main{
      width: 100%;
    }
    aside{
      width: 100%;
    }
  }
}
